@(cashpoint: CashPoint, user: Option[User])

@main("CashPoint " + cashpoint.location.address, user){
<div class="row">
<div class="col-md-4">
  <div class="panel" style="margin: 0 10px 10px 10px;">
    <div class="panel-heading"><h1>Location</h1></div>
    <ul class="list-group">
      <li class="list-group-item">
      <!--<h2 class="list-group-item-heading">Address</h2>-->
        <p class="list-group-item-text">@cashpoint.location.address</p>
      </li>
      <li class="list-group-item">
      <!--<h2 class="list-group-item-heading">City</h2>-->
        <p class="list-group-item-text">@cashpoint.location.city</p>
      </li>
      <li class="list-group-item">
      <!--<h2 class="list-group-item-heading">Details</h2>-->
        <p class="list-group-item-text">@cashpoint.location.country</p>
      </li>
    </ul>
  </div>
  <div class="panel" style="margin: 0 10px 10px 10px;">
    <div class="panel-heading"><h1>Details</h1></div>
    <ul class="list-group">
      <li class="list-group-item">
      <!--<h2 class="list-group-item-heading">Serial</h2>-->
        <p class="list-group-item-text">@cashpoint.serial</p>
      </li>
      <li class="list-group-item">
      <!--<h2 class="list-group-item-heading">Note</h2>-->
        <p class="list-group-item-text">@cashpoint.note</p>
      </li>
      <li class="list-group-item">
      <!--<h2 class="list-group-item-heading">State</h2>-->
        <p class="list-group-item-text">@if(cashpoint.active){active}else{inactive}</p>
      </li>
    </ul>
  </div>
</div>
<div class="col-md-8">
  <div class="panel" style="margin: 0 10px 10px 10px;">
    <div class="panel-heading"><h1>Payout</h1></div>
    <form class="form-inline" action="/withdraw" method="post">
      <div class="form-group">
        <label class="sr-only" for="transactionCode">Transaction code</label>
        <input type="text" class="form-control" id="transactionCode" placeholder="Transaction code">
      </div>
      <div class="form-group">
        <label class="sr-only" for="secretCode">Secret</label>
        <input type="password" class="form-control" id="secretCode" placeholder="Secret code">
      </div>
      <button type="submit" class="btn btn-success">Complete</button>
    </form>
  </div>
  <div class="panel" style="margin: 0 10px 10px 10px;">
    <div class="panel-heading"><h1>History</h1></div>
    <ul class="list-group">
      <li class="list-group-item">
        <p>Item one</p>
      </li>
      <li class="list-group-item">
        <p>Item two</p>
      </li>
      <li class="list-group-item">
        <p>Item three</p>
      </li>
    </ul>
  </div>
</div>
</div>
}
