@(cashpoint: CashPoint)
  <a href="@routes.CashPoints.getItem(cashpoint.id.toString)" class="list-group-item">
    <span class="amount label label-warning">@cashpoint.serial</span> at
    <span class="sender label label-info">@cashpoint.location.address</span>
    <span class="receiver label label-info">@cashpoint.location.city</span>
    <span class="receiver label label-info">@cashpoint.location.country</span>
    @if(cashpoint.active) {
      is currently <span class="label label-success">active</span>
    } else {
      is currently <span class="label label-danger">suspended</span>
    }
  </a>
