@(user: Option[User])

@main("Profile", user){
  <div class="panel" style="margin: 0 10px 10px 10px;">
    <div class="panel-heading"><h1>@user.get.handle</h1></div>
    <!--<div class="panel-body">
    </div>-->
    <div class="list-group">
      <div class="list-group-item">
        <h2 class="list-group-item-heading">Clearance Level</h2>
        @if(user.get.isAdmin) { <span class="label label-danger">Administrator</span> }
        @if(user.get.isClerk) { <span class="label label-warning">Cashpoint Clerk</span> }
        @if(user.get.isClient) { <span class="label label-info">User</span> }
      </div>
    </div>
  </div>
}
