@(title: String)(content: Html)

<!DOCTYPE html>

<html>
  <head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
  </head>
  <body>
    <nav class="navbar navbar-static-top" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".menu-sections">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Wire</a>
      </div>
      <div class="collapse navbar-collapse menu-sections">
        <ul class="nav navbar-nav">
          <li @if(title == "Transactions") { class="active" }><a href="@routes.Transactions.index()">Transactions</a></li>
          <li><a href="#">Cashpoints</a></li>
          <li><a href="#">Users</a></li>
        </ul>
      </div>
    </nav>
    @content
    <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("javascripts/bootstrap.js")" type="text/javascript"></script>
  </body>
</html>
